form {
  margin: 0 auto;
  width: 320px;
  padding: 10px;
}

.form-item {
  width: 320px;
}

.form-item input {
  width: 300px;
  height: 22px;
}

.countdown-numbers {
  float: left;
  width: 80px;
  height: 62px;
  background-color: white;
  font-size: 45px;
}

.countdown-numbers span {
  font-size: 16px;
  color: #fff;
}

.countdown-hour, .countdown-hours, .countdown-minutes, .countdown-seconds {
  font-size: 50px;
  color: #000;
}

.countdown {
  width: 490px;
  height: 334px;
  margin: 0 auto;
  background-color: #202227;
  text-align: center;
}

.countdown h3 {
  color: #fff;
  padding: 40px 10px 20px 10px;
  text-align: center;
  font-weight: normal;
  font-size: 37px;
}

.numbers {
  display: flex;
  justify-content: space-around;
}